site_name: LiGHT documentation
# theme:
#   name: material
#   logo: assets/light_logo.png
#   palette:
#     # I'm not a frontend dev
#     primary: dark blue
#   features:
#     - navigation.path
#     - navigation.tabs
#     - navigation.expand
#     - toc.integrate
#
# Configuration

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.ico
  logo: assets/light_logo.png

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - javascripts/mermaid.mjs

nav:
  - Home: index.md
  - Getting started: gettingstarted.md
  - Projects: projects.md
  - Clusters documentation:
      - Overview: clusters.md
      - RCP:
          - Connecting to the RCP: clusters/rcp/rcp.md
          - Building Docker image for the RCP: clusters/rcp/rcp_docker.md
      - CSCS:
          - Introduction: clusters/cscs/intro_cscs.md
          - (Optional) Building image for the CSCS: clusters/cscs/cscs_docker.md
          - Connecting to the CSCS: clusters/cscs/cscs.md
          - Launching an axolotl training: clusters/cscs/axolotl_training.md
  - Contributing: contributing.md
  - About: about.md
